body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}


header {
  padding: 1rem;
  background-color: #4b2e83; 
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}


nav {
  margin-top: 0.25rem;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #e8e3d3; 
  font-weight: bold;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}


.uw-logo {
  height: 45px;
}


main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}


section {
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

h2 {
  color: #4b2e83;
}


article {
  border: 1px solid #ccc;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
}

article h3 {
  color: #4b2e83;
}


table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

thead th {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}


footer {
  padding: 1rem;
  background-color: white;
  border-top: 1px solid #ddd;
}

.p {
  margin-top: 20px;
  text-align: center;
}

.input-class {
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: large;
    color: purple;
}